<!DOCTYPE html>
<html>
<head>
    <title>Image Classfication</title>
</head>
<body>
    <h2>Available Directories</h2>
    <ul id="directory-list"></ul>
    <label for="threshold-slider">Threshold: <span id="threshold-value">0.01</span></label><br>
    <input type="range" id="threshold-slider" min="0.01" max="1" step="0.01" value="0.01", title="Higher threshold = more distinct subspaces">
    <input type="text" id="width-input" placeholder="Width=100">
    <input type="text" id="height-input" placeholder="Height=100">
    <button id="settings-btn">Settings</button>
    <input type="text" id="num-images-input" placeholder="Enter number of images" disabled>
    <button id="num-images-btn" disabled># of images from each directory</button>
    <input type="text" id="num-images-class-input" placeholder="Enter number of images" disabled>
    <button id="num-images-class-btn" disabled># of images to classify</button>
    <button id="train-btn" disabled>Train</button>
    <button id="classify-imgs-btn" disabled>Classify Images</button>
    <div id="results"></div>
    <div id="image-display"></div>

    <script src="/static/js/scripts.js"></script>
</body>
</html>